.listBread {
  padding-left: 9%;
}
.listContainer {
  .list-group {
    a {
      cursor: pointer;
    }
    img {
      height: 165px;
      width: 170px;
    }
  }
  .w-25 {
    float: left;
  }
  .titleItem {
    padding-top: 15px;
  }
}
