<nav>
  <div class="row search-bar">
    <div class="col-md-4">
      <a class="nav-logo" href="//localhost:8080">
        Mercado Libre Argentina - Donde comprar y vender de todo
      </a>
    </div>
    <div class="col-md-6 searchContainer">
      <div class="input-group">
        <input
          type="text"
          ng-model="$ctrl.token"
          name="searchMeliTextBox"
          required="true"
          ng-trim="true"
          class="form-control"
          placeholder="Nunca dejes de buscar"
          aria-label="Nunca dejes de buscar"
          aria-describedby="Nunca dejes de buscar"
          ng-keyup="$event.keyCode == 13 && $ctrl.redirectSearch()"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            ng-click="$ctrl.redirectSearch()"
          >
            <i class="material-icons">search</i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</nav>
