.detailContainer {
  .list-group img {
    height: 150px;
    width: 150px;
  }
  .content {
    background-color: white;
    padding-top: 70px;

    .imageBox {
      float: left;
      img {
        width: 300px;
      }
    }
    .titleBox {
      float: left;
      height: 300px;
    }
  }
}
