.detailContainer {
  .list-group img {
    height: 150px;
    width: 150px;
  }
  .content {
    background-color: white;
    padding-top: 70px;
    border-radius: 4px;
    .imageBox {
      float: left;
      text-align: center;
      img {
        width: 300px;
      }
    }
    .titleBox {
      float: left;
      height: 300px;
      .buyButtonContainer {
        text-align: center;
        padding-top: 30px;
        .buyButton {
          width: 100%;
        }
      }
    }
    .description {
      h3 {
        padding: 40px 0px 0px 40px;
      }
      p {
        padding: 20px 40px 0px 40px;
      }
    }
  }
}
