<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Home</li>
  </ol>
</nav>
<div class="row detailContainer">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="w-50">
          <img
            src="{{ $ctrl.selectedProduct.picture }}"
            alt="{{ $ctrl.selectedProduct.title }}"
          />
        </div>
        <div class="w-50">
          <h2>{{ $ctrl.selectedProduct.title }}</h2>
          <div>{{ $ctrl.selectedProduct.description.plain_text }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
